EMBEDDING_MODEL="all-minilm"
DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE=
RAG_SOURCE_FILES="Constitution-of-the-Federal-Republic-of-Nigeria-2023.pdf,NigeriaElectoralAct2026.pdf"
LARGE_LANGUAGE_MODEL=
LLM_HOST=
LLM_API_KEY=
TAVILY_API_KEY=